<%= simple_form_for(@responsible, :html => { :class => 'form-horizontal' }, :remote => true)  do |f| %>

  <%= f.error_notification %>
  <%= display_base_errors @responsible %>

  <p><%= f.input :name %></p>
  <p><%= f.input :surname %></p>
  <p><%= f.input :extension %></p>
  <p><%= f.label :document_id, :label => "Documento",  :required => true %>
            <%= f.collection_select :document_id , Document.all, :id, :name, :prompt => "Tipo Documentos"  %></p>
  <p><%= f.input :identification %></p>
  <p><%= f.input :genre, :as => :radio, :label => "Genero", :collection => [["Masculino", false], ["Femenino", true]] %></p>
  <p><%= f.input :phone %></p>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
  </div>
<% end %>
